%article.dashboard
  %header
    %h1
      Dashboard 
  %section.user
    %h2
      = @user.name
    %section.user-info
      %h3
        Current Status
      %div
        .med-title
          Record
        .med-value
          = @user.record
      %div
        .med-title
          Rating
        .med-value
          = formatted_rating(@user.rating)

    - unless @user.games.unplayed.empty?
      %section.user-games
        %h2
          Unplayed Games
        %section.user-game-highlight
          - next_game = @user.games.unplayed.first
          - opponent = next_game.opponent(@user)
          %h3
            = link_to("Next Opponent", game_path(next_game))
          .med-title
            Opponent
          .med-value
            = link_to(opponent.name, user_path(opponent.user))
          .medsmall-title
            Opponent's Record
          .medsmall-value
            = opponent.record
          .medsmall-title
            Opponent's Rating
          .medsmall-value
            = formatted_rating(opponent.rating)
          .clear

        - if @user.games.unplayed.size > 1
          %section.user-games
            %h3
              After That
            = render :partial => "games/user_table", :locals => {:games => @user.games.unplayed[1..-1], :unplayed_games => true, :finished_games => false, :verbose => false}

    - unless @user.games.recent.empty?
      %section.user-games
        %h2
          Finished Games
        = render :partial => "games/user_table", :locals => {:games => @user.games.recent, :unplayed_games => false, :finished_games => true, :verbose => false}
    %section{:style => "clear:left;"}
      
  %section.league
    %section.dashboard-standings
      %h2
        Standings
      = render :partial => "schedules/standings", :locals => {:schedule => @schedule}
    %section.recent-games-played
      %h2
        Recent League Games
      = render :partial => "games/table", :locals => {:games => @recent_games_played, :include_round => true}
    %section.recent-comments
      %h2
        Recent League Comments
      - @recent_comments.each do |comment|
        .med-title
          Name
        .med-value
          = comment.user.name
        .small-title
          Move
        .small-value
          = comment.game.move
        .small-title
          Comment
        .small-value
          = comment.text          
    %section{:style => "clear:left;"}
  %section{:style => "clear:left;"}
