%table.games
  %thead
    %tr
      - if include_round
        %th
          Round
      %th
        Player
      %th
        Player
      %th
        Date
  %tbody
    - games.each do |game|
      %tr
        - if include_round
          %td= game.round
        - if game.actual_start_datetime
          %td= link_to game.white_player.name, user_path(game.white_player), :class => (game.white_won ? "winner" : "")
          %td= link_to game.black_player.name, user_path(game.black_player), :class => (game.black_won ? "winner" : "")
          %td= link_to game.actual_start_datetime.strftime("%m/%d/%Y"), game_path(game)
        - else
          %td= link_to game.users.first.name, user_path(game.users.first.name)
          %td= link_to game.users.second.name, user_path(game.users.second.name)
          %td= link_to "unplayed", edit_game_path(game)
