%table.games-table
  %thead
    %tr
      %th
        Round
      %th
        Expected Start Date
      %th
        Actual Start Date
      %th
        Opponent
      %th
        Opponent Color
      %th
        Result
      %th
        Record
      %th
        Rating
  %tbody  
    - games.each do |game|
      %tr
        - opponent = game.opponent(@user)
        %td= game.round
        %td= game.expected_start_date
        %td= game.actual_start_datetime
        %td= link_to opponent.name, user_path(opponent.user)
        %td= game.actual_start_datetime ? opponent.role : ""
        %td= game.actual_start_datetime ? link_to(game.result, game_path(game)) : ""
        %td= opponent.record
        %td= opponent.rating
