%table.games-table
  %thead
    %tr
      %th
        Round
      - if unplayed_games
        %th
          Expected Start Date
      - if finished_games
        %th
          Actual Start Date
      %th
        Opponent
      - if verbose
        %th
          Opponent Color
      %th
        Result
      - if verbose
        %th
          Record
        %th
          Rating
  %tbody  
    - games.each do |game|
      %tr
        - opponent = game.opponent(@user)
        %td= game.round
        - if unplayed_games
          %td= date_only_datetime_text(game.expected_start_date)
        - if finished_games
          %td= full_datetime_text(game.actual_start_datetime)
        - if opponent
          %td= link_to opponent.name, user_path(opponent.user)
        - else
          %td Bye
        - if verbose
          %td= game.actual_start_datetime ? opponent.role : ""
        %td= game.actual_start_datetime ? link_to(game_text(game, game.result_for_user(@user)), game_path(game)) : link_to("unplayed", edit_game_path(game))
        - if verbose
          %td= opponent ? opponent.record : ""
          %td= opponent ? formatted_rating(opponent.rating) : ""
