%article.game
  %section.game-details
    %h2
      Details 
    - if @game.actual_start_datetime 
      .med-title
        White
      .med-value
        = link_to @game.white_player.name, user_path(@game.white_player)
      .med-title
        Black
      .med-value
        = link_to @game.black_player.name, user_path(@game.black_player)
      .med-title
        Result
      .med-value
        = @game.result
      .med-title
        Date played
      .med-value
        = full_datetime_text(@game.actual_start_datetime)
    - else
      .med-title
        Players
      .med-value
        - if @game.users.size == 1 then
          = @game.users.map{|x| x.name}.first + " (Bye)"
        - else
          = @game.users.map{|x| x.name}.join(" vs ")
      .med-title
        Expected start time
      .med-value
        = date_only_datetime_text(@game.expected_start_date)
    .clear
    - if @game.editable_by_user(current_user) && !@game.bye?
      = link_to('update game', edit_game_path(@game), :class => "button")
  %section.game-board
    - if @game.actual_start_datetime && !@game.pgn.blank?
      %h2
        Game
      .pgn{:style => "display:none", :id => "pgn"}
        = "[White \"#{@game.white_player.name}\"]"
        = "[Black \"#{@game.black_player.name}\"]"
        = "[Result \"#{@game.result}\"]"
        = @game.pgn
      %div{:id => "pgn_board"}
    %section.comments
      %h3
        Comments for
        %span#current-move all moves
      .comment-links
        %span#show-comment-form= link_to("New Comment", "#", :class => "button")
        %span#hide-comment-form= link_to("Hide Comment", "#", :class => "button")
      = render :partial => "comments/new", :locals => {:comment => @new_comment, :user => current_user, :game => @game}
      - @comments.each do |comment|
        = render :partial => "comments/show", :locals => {:comment => comment}
    .clear
  .clear
:javascript
  var brd = new Board('pgn', {'showMovesPane':true, 'movesPaneWidth':'100px'});
  brd.init();

  $(function() {
    $("#new_comment").hide();
    $("#hide-comment-form").hide();

    $("#show-comment-form").click(function() {
      $("#new_comment").show();
      $("#hide-comment-form").show();
      $(this).hide();
      return false;
    });
    $("#hide-comment-form").click(function() {
      $("#new_comment").hide();
      $("#show-comment-form").show();
      $(this).hide();
      return false;
    });
  });
  
