!!!5
%html{:lang => "en"}
  %head
    %title Chess-Talk : #{@page_title}
    %meta{:charset => "utf-8"}/
    %meta{ :name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"}
    %meta{:name => "format-detection", :content => "telephone=no"}
    = stylesheet_link_tag("reset.css","screen.css", "formtastic.css", "formtastic_changes.css", :media => "all")
    //%link{ :rel => "shortcut icon", :href => "/images/homeicon.png"}/
    //%link{ :rel => "apple-touch-icon", :href=> "/images/homeicon.png" }
    = javascript_include_tag("jquery-1.4.4.min", "application", "jsPgnViewer")
    = csrf_meta_tag
    :javascript
      try{
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
      }catch(err){}

      function hideURLbar(){
        window.scrollTo(0,1);
      }
      
    /[if lt IE 9]
      %script{:type => "text/javascript", :charset => "utf-8", :src => "#{request.protocol}html5shiv.googlecode.com/svn/trunk/html5.js"}
    
  %body{:class => "#{@body_class}"}
    .container
      .inner-container
        %header
          - if current_user
            %nav
              %ul.tabs
                %li= tab_link_to "Dashboard", dashboard_user_path(current_user)
                - if current_user.league
                  %li= tab_link_to "Schedule", schedule_path(current_user.league.schedules.first)
                - else
                  %li= tab_link_to "Schedule", schedule_path(League.first.schedules.first)
                %li{:style => "display:none;clear:left;"}
                
              %ul.profile
                %li.identity= "Hello " + current_user.name
                - if current_user.admin?
                  %span.extra-header-buttons
                    %li= link_to "Admin", admin_path
                %li= link_to "Logout", destroy_user_session_path
                /%li= link_to "Edit Profile", edit_user_registration_path
                %li= link_to "Edit Profile", edit_user_path(current_user)
                %li{:style => "display:none;clear:right;"}
              %ul{:style => "display:none;clear:both;"}
          - else
            %h2 Chess Talk
        - unless notice.blank? && alert.blank?
          .notices-and-alerts
            .notices-and-alerts-inner
              - unless notice.blank?
                %span.notice= notice
              - unless alert.blank?
                %span.alert= alert

        .content= yield
      
        %footer
          - if current_user.admin?
            .footer-buttons
              %span.button= link_to "Admin", admin_path
          %p="© #{Date.today.year} Chess-Talk"  
